.remark-slide-content {
  background-color: #0f0f0f;
  font-family: "Bahnschrift", "sans serif";
  font-weight: 100;
  color: #ebebeb;
  background-image: url("assets/gryffindor_banner.png"), url("assets/slytherin_banner.png");
  background-position: right top, left top;
  background-size: 250px;
}

.title-slide-custom {
  background-image: url("https://i.pinimg.com/originals/f3/b4/23/f3b4238175fc8c88229595b50f514d09.gif");
  background-position: center;
  background-size: contain;
  color: #ebebeb;
  background-color: #0f0f0f;
  text-shadow: 3px 3px 0 #0f0f0f, -1px -1px 0 #0f0f0f, 1px -1px 0 #0f0f0f, -1px 1px 0 #0f0f0f, 1px 1px 0 #0f0f0f;
}

blockquote {
  font-size: 2em;
}

.center2 {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-title {
  margin: 0;
  position: absolute;
  top: 40%;
  right: 5%;
  text-align: right;
}

.remark-inline-code, .remark-code-line {
  font-family: "Cascadia code", "Consolas", "monospace";
  font-weight: 400;
}

.remark-code-line-highlighted {
  background-color: #1f4235;
}

pre code {
  white-space: pre-wrap;
}

.title-slide-custom .remark-slide-number {
  display: none;
}

.center-div {
  position: absolute;
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  margin: 0;
}

.flash {
  animation-duration: 500ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes blink {
  from {
    color: #800000;
  }
  to {
    color: gold;
  }
}
